#circle {
    -fx-background-color: #FFF59D;
    -fx-background-radius: 5em;
    -fx-min-width: 100px;
    -fx-min-height: 70px;
    -fx-max-width: 100px;
    -fx-max-height: 70px;
}

#combo, #textField, #textBackground {
    -fx-background-color: #EEEEEE;
    -fx-border-color: #9E9E9E;
}

#combo, #textField {
    -fx-border-style: solid hidden hidden hidden;
}

#combo, #warning, #default {
    -fx-font-size: 20;
}

#warning {
    -fx-fill: #d50000;
}

#default {
    -fx-fill: #212121;
}